@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

* h1, * h2 {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fff;
  width: 100vw;
}

section.info {
  display: block;
  background-color: #EEEEF6;
  padding-bottom: 20px;
}

section.info header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  height: 75vh;
  color: #fff;
  -webkit-box-shadow: 0px 1px 15px #0E0B16;
          box-shadow: 0px 1px 15px #0E0B16;
  background: url(../images/bg-site-atualizado.jpg) no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

section.info header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 95%;
}

section.info header h1 {
  font-weight: 450;
  font-size: 28pt;
  margin: 10px;
}

section.info header p {
  font-weight: 300;
  font-size: 14pt;
  text-align: center;
  margin: 10px;
}

section.info header a {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 12vw;
  min-height: 8vh;
  border: none;
  -webkit-box-shadow: 2px 2px 5px #4717F6;
          box-shadow: 2px 2px 5px #4717F6;
  border-radius: 5px;
  background-color: #4717F6;
  color: #fff;
  text-decoration: none;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14pt;
  margin: 5px;
}

section.info header a:hover {
  background-color: #2a0c94;
  -webkit-box-shadow: 2px 2px 5px #2a0c94;
          box-shadow: 2px 2px 5px #2a0c94;
  color: #f2f2f2;
}

section.info section.info-cards {
  display: block;
  margin: 30px 0;
  max-width: 100%;
}

section.info section.info-cards div.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: #fff;
  width: 75vw;
  padding: 15px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 10px #d1d1d1;
          box-shadow: 2px 2px 10px #d1d1d1;
  margin: 20px auto;
}

section.info section.info-cards div.card-info div {
  margin: 30px;
  font-size: 14pt;
}

section.info section.info-cards div.card-info div h2 {
  font-size: 20pt;
}

section.info section.info-cards div.card-info img {
  margin: 30px;
  width: 25vw;
}

section.portfolio {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 100%;
  background-color: #EEEEF6;
  border-bottom: 2px 2px 10px #d1d1d1;
}

section.portfolio h2 {
  font-size: 30px;
}

section.portfolio div.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

section.portfolio div.projects a {
  text-decoration: none;
  color: #000;
}

section.portfolio div.projects a div {
  width: 250px;
  height: 300px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px #d1d1d1;
          box-shadow: 2px 2px 10px #d1d1d1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 4px;
  margin: 15px;
}

section.portfolio div.projects a div.photo-1 {
  background-image: url("../images/project-2.png");
}

section.portfolio div.projects a div.photo-2 {
  background-image: url("../images/project-1.svg");
}

section.portfolio div.projects a div.photo-3 {
  background-image: url("../images/project-3.png");
  background-size: cover;
}

section.portfolio a.more {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12vw;
  height: 8vh;
  border: none;
  -webkit-box-shadow: 2px 2px 5px #4717F6;
          box-shadow: 2px 2px 5px #4717F6;
  border-radius: 5px;
  background-color: #4717F6;
  color: #fff;
  text-decoration: none;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14pt;
  margin: 5px auto;
}

section.about {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
  margin: 20px 0;
  max-width: 100%;
  margin-bottom: 0;
}

section.about h2 {
  font-size: 20pt;
}

section.about h3 {
  font-size: 16pt;
  font-weight: 475;
  margin: 0 5px;
}

section.about p {
  font-size: 12.5pt;
  font-weight: 400;
  margin: 0 5px;
}

section.about > img {
  width: 25vw;
  border-radius: 45%;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
  margin: 15px;
}

section.about div.knowledge {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0;
}

section.about div.knowledge img {
  margin: 5px;
  width: 3vw;
}

footer {
  background-color: #0E0B16;
  color: white;
  font-size: 12pt;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

footer div.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div.contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  margin: 5px;
}

footer div.contact img {
  width: 25px;
  margin: 0 5px;
}

footer form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1em;
}

footer form input {
  width: 300px;
  font-size: 1em;
  border-radius: 4px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer form button {
  width: 300px;
  height: 45px;
  color: white;
  font-size: 1em;
  background-color: #4717F6;
  border: none;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer form button:hover {
  background-color: #2a0c94;
  cursor: pointer;
}

footer form textarea {
  width: 300px;
  height: 135px;
  resize: none;
  border: none;
  font-size: 1em;
  border-radius: 4px;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/ 4;
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
  footer form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer form textarea, footer form button {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media only screen and (min-width: 345px) and (max-width: 700px) {
  section.info-cards img {
    display: none;
  }
  button.info-button {
    padding: 10px;
    font-size: 10pt;
  }
  section.info-cards h2 {
    font-size: 0.5em;
    text-align: center;
  }
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer div.contact {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer form {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
  }
  footer form textarea, footer form button {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media only screen and (max-width: 344px) {
  header.info-header h1 {
    font-size: 0.8em;
    text-align: center;
  }
  section.info-cards img {
    display: none;
  }
  section.info-cards h2 {
    font-size: 0.5em;
    text-align: center;
  }
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
  }
  footer div.contact {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer form {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
  }
  footer form textarea, footer form button, footer form input {
    -ms-grid-column: 1;
    grid-column: 1;
    width: 230px;
  }
}
/*# sourceMappingURL=main.css.map */